
.renacentismo{

  text-align: center;
  padding-top: 42px;

h2{
   color: gray;
   font-size: 64px;
   text-align: center;
   text-decoration-line: underline;
   text-decoration-style: double;
   padding-bottom: 70px;
 }
 h3{
    color: rgb(116, 116, 116);
    font-size: 34px;
  }
a{
  color: rgb(204, 204, 204);
  font-size: 24px;
  padding: 3%;
  padding-top: 40px;
}
img{
  max-width: 400px;
  min-width: 400px;
}
}

